html{
  font-family: 'Noto Sans JP', sans-serif;
  position:relative;
  background-color:#313131;
}
header{
  text-align: center;
  margin: 20px 20px 20px 20px;
  padding:10px 10px 10px 10px;
}
h1{
  font-size:50px;
  color: #defabc;
}
h2{
  color:#ffffff;
  margin: 10px 5px 10px 10px;
  border:10px;
  padding: 5px;
  color: #defabc;

}
h3{
  text-align: center;
  font-size:32px;

}
.input-field{
  text-align: center;
}
main{
  padding-bottom:500px;
  color:#ffffff;
}
.button{
  padding:10px 10px 10px 10px;
  size:300px;
  text-align: center;
  margin-right:20px;
  margin-left: 20px;
}
button{
  margin-right: 20px;
  width:200px;
}
.recipe{
  margin:30px;
}

ol,li{
  fonts-size:24px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top:20px;
  padding: 5px;
}
p{
  color: #defabc;
  font-size:16px;
  line-height:2;
  margin: 4% 4% 2% 4%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right:20px;
  text-align: center;
}
